.header {
	width: 500px;
	margin-top: 50px;
	margin-bottom: 65px;
	h1 {
		color: $VeryDarkBlue;
	}
	p {
		color: $GrayishBlue;
		font-weight: 3;
	}
	.subtitle {
		font-weight: 5;
	}
	.des {
		margin-top: 10px;
	}
}
